pipeline/pl_11_check_file_adls_sqlserver.json
{
	"name": "pl_11_check_file_adls_sqlserver",
	"properties": {
		"activities": [
			{
				"name": "GetFileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_sales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetFileName').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File Not Found",
								"errorCode": "FNF400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "task_adls_sqlserver",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "sale_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sale_id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sale_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sale_date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "product",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "product",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "quantity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "quantity",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "unit_price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "unit_price",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "total_amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "total_amount",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_sales",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlserver_sales",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "tak_adls_archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "task_adls_sqlserver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_sales",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_archive",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "task_delete_adls_src",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "tak_adls_archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_sales",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-18T03:19:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}